# mitmrouter configuration. Copy this file to mitmrouter.conf and edit for your environment.

BR_IFACE="br0"
WAN_IFACE="eth0"
LAN_IFACE="eth1"
WIFI_IFACE="wlan0"
LAN_ENABLED="1"
WIFI_ENABLED="1"
WIFI_SSID="setec_astronomy"
WIFI_PASSWORD="toomanysecrets"
WIFI_COUNTRY="US"
WIFI_HW_MODE="g"
WIFI_CHANNEL="11"
WIFI_WPA="2"
WIFI_WPA_KEY_MGMT="WPA-PSK"
WIFI_WPA_PAIRWISE="CCMP"
WIFI_IEEE80211N="1"
WIFI_IEEE80211W="0"

LAN_IP="192.168.200.1"
LAN_PREFIX="24"
LAN_SUBNET="255.255.255.0"
LAN_DHCP_START="192.168.200.10"
LAN_DHCP_END="192.168.200.100"
LAN_DNS_SERVER="1.1.1.1"
